<span id="panels_heading" class="font-medium my-2 block">Panel selection <i class='fa fa-caret-down'></i></span>

<div id="panels">
  <div class="block w-full pb-1">
    <nav id="missions" class="font-bold space-x-6">
      <a id="cluster" class="mission_option mission_selected" href="#"><%= image_tag "cluster-icon.png", width: "36", class: "inline" %> Cluster</a>
      <a id="double_star" class="mission_option" href="#"><%= image_tag "double-star-icon.png", width: "30", class: "inline" %> Double Star</a>
      <a id="data_mining" class="mission_option" href="#" title="One minute averaged parameters used in the data mining tool - https://caa.esac.esa.int/data-mining/"><i class="fa-solid fa-database text-red-900"></i> Cluster Data Mining</a>
    </nav>
  </div>
</div>
