<span id="panels_heading" class="font-medium my-2 block">Panel selection <i class='fa fa-caret-down'></i></span>

<div id="panels">
  <div class="block w-full pb-1 mb-6">
    <nav id="missions" class="font-bold space-x-6 whitespace-nowrap">
      <a id="cluster" class="mission_option mission_selected" href="#"><%= image_tag "cluster-icon.png", width: "36", class: "inline" %> Cluster</a>
      <a id="double_star" class="mission_option" href="#"><%= image_tag "double-star-icon.png", width: "30", class: "inline" %> Double Star</a>
      <a id="data_mining" class="mission_option" href="#" title="One minute averaged parameters used in the data mining tool - https://caa.esac.esa.int/data-mining/"><i class="fa-solid fa-database text-red-900"></i> Cluster Data Mining</a>
    </nav>
  </div>

  <div id="cluster_panels" class="mission_panels_list">
    <nav class="font-bold space-x-4 mb-6">
      <a id="cluster_ASPOC" data-mission="cluster" class="cluster instrument_option instrument_selected">ASPOC</a>
      <a id="cluster_AUX" data-mission="cluster" class="cluster instrument_option">AUX</a>
      <a id="cluster_CIS" data-mission="cluster" class="cluster instrument_option">CIS</a>
      <a id="cluster_EDI" data-mission="cluster" class="cluster instrument_option">EDI</a>
      <a id="cluster_EFW" data-mission="cluster" class="cluster instrument_option">EFW</a>
      <a id="cluster_FGM" data-mission="cluster" class="cluster instrument_option">FGM</a>
      <a id="cluster_PEACE" data-mission="cluster" class="cluster instrument_option">PEACE</a>
      <a id="cluster_RAPID" data-mission="cluster" class="cluster instrument_option">RAPID</a>
      <a id="cluster_STAFF" data-mission="cluster" class="cluster instrument_option">STAFF</a>
      <a id="cluster_WHISPER" data-mission="cluster" class="cluster instrument_option">WHISPER</a>
      <a id="cluster_MULTI" data-mission="cluster" class="cluster instrument_option">MULTI</a>
    </nav>

    <div class="container mx-auto mt-3 px-4 py-2 max-w-7xl bg-white shadow-md">
      <div id="cluster_ASPOC_panels" class="cluster_instrument_panels_list">
        <table>
          <colgroup>
            <col width="5">
            <col width="5">
            <col width="5">
            <col width="5">
            <col width="5">
            <col width="5">
            <col width="5">
            <col width="200">
          </colgroup>
          <tbody>
            <tr>
              <th>C1</th>
              <th>C2</th>
              <th>C3</th>
              <th>C4</th>
              <th>CM</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

            <tr>
              <!-- disabled checkbox -->
              <td> <input disabled="" id="datasets-1" name="datasets" type="checkbox" value="0"> </td>
              <td> <input id="datasets-2" name="datasets" type="checkbox" value="C2_CG_ASP_IONC_CAA/ASPOC C2: Ion emission current"> </td>
              <td> <input id="datasets-3" name="datasets" type="checkbox" value="C3_CG_ASP_IONC_CAA/ASPOC C3: Ion emission current"> </td>
              <td> <input id="datasets-4" name="datasets" type="checkbox" value="C4_CG_ASP_IONC_CAA/ASPOC C4: Ion emission current"> </td>
              <td><input id="datasets-5" name="datasets" type="checkbox" value="CM_CG_ASP_IONC_CAA/ASPOC CM: Ion emission current"> </td>
              <td></td>
              <td></td>
              <td title="Ci_CG_ASP_IONC_CAA">Ion emission current</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div id="cluster_AUX_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_CIS_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_EDI_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_EFW_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_FGM_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_PEACE_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_RAPID_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_STAFF_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_WHISPER_panels" class="cluster_instrument_panels_list hidden"></div>
      <div id="cluster_MULTI_panels" class="cluster_instrument_panels_list hidden"></div>
    </div>
  </div>

  <div id="double_star_panels" class="mission_panels_list hidden">
    <nav class="font-bold space-x-4 mb-6">
      <a id="double_star_ASPOC" data-mission="double_star" class="double_star instrument_option instrument_selected">ASPOC</a>
      <a id="double_star_AUX" data-mission="double_star" class="double_star instrument_option">AUX</a>
      <a id="double_star_HIA" data-mission="double_star" class="double_star instrument_option">HIA</a>
      <a id="double_star_FGM" data-mission="double_star" class="double_star instrument_option">FGM</a>
      <a id="double_star_PEACE" data-mission="double_star" class="double_star instrument_option">PEACE</a>
      <a id="double_star_STAFF-DWP" data-mission="double_star" class="double_star instrument_option">FGM</a>
    </nav>

    <div id="double_star_ASPOC_panels" class=""></div>
    <div id="double_star_AUX_panels" class="hidden"></div>
    <div id="double_star_HIA_panels" class="hidden"></div>
    <div id="double_star_FGM_panels" class="hidden"></div>
    <div id="double_star_PEACE_panels" class="hidden"></div>
    <div id="double_star_STAFF-DWP_panels" class="hidden"></div>
  </div>

  <div id="data_mining_panels" class="mission_panels_list hidden">
    <nav class="font-bold space-x-4 mb-6">
      <a id="data_mining_AUX" data-mission="data_mining" class="data_mining instrument_option instrument_selected">AUX</a>
      <a id="data_mining_CIS" data-mission="data_mining" class="data_mining instrument_option">CIS</a>
      <a id="data_mining_EDI" data-mission="data_mining" class="data_mining instrument_option">EDI</a>
      <a id="data_mining_EFW" data-mission="data_mining" class="data_mining instrument_option">EFW</a>
      <a id="data_mining_FGM" data-mission="data_mining" class="data_mining instrument_option">FGM</a>
      <a id="data_mining_PEACE" data-mission="data_mining" class="data_mining instrument_option">PEACE</a>
      <a id="data_mining_RAPID" data-mission="data_mining" class="data_mining instrument_option">RAPID</a>
      <a id="data_mining_STAFF" data-mission="data_mining" class="data_mining instrument_option">STAFF</a>
      <a id="data_mining_WHISPER" data-mission="data_mining" class="data_mining instrument_option">WHISPER</a>
    </nav>

    <div id="data_mining_AUX_panels" class=""></div>
    <div id="data_mining_CIS_panels" class="hidden"></div>
    <div id="data_mining_EDI_panels" class="hidden"></div>
    <div id="data_mining_EFW_panels" class="hidden"></div>
    <div id="data_mining_FGM_panels" class="hidden"></div>
    <div id="data_mining_PEACE_panels" class="hidden"></div>
    <div id="data_mining_RAPID_panels" class="hidden"></div>
    <div id="data_mining_STAFF_panels" class="hidden"></div>
    <div id="data_mining_WHISPER_panels" class="hidden"></div>
  </div>

</div>
