<div data-controller="spacecraft-info" class="text-sm">
  <span id="spacecraft_info_heading" class="cursor-pointer text-sm text-red-900 my-2 block" data-action="click->spacecraft-info#toggle_controls">Add spacecraft info <i class="fa fa-caret-right"></i></span>

  <div id="spacecraft_info_controls" class="container mt-3 px-4 py-2 max-w-(--max-custom-width) bg-white shadow-md grow hidden">
    <div class="block w-full pb-1 mb-6">
      <nav id="spacecraft_info_missions" class="font-bold space-x-6 whitespace-nowrap">
        <span id="spacecraft_info_cluster" class="spacecraft_mission_option spacecraft_mission_selected" data-spacecraft-info-mission-param="cluster" data-action="click->spacecraft-info#show_options"><%= image_tag "cluster-icon.png", width: "20", class: "inline" %> Cluster</span>
        <span id="spacecraft_info_double_star" class="spacecraft_mission_option" data-spacecraft-info-mission-param="double_star" data-action="click->spacecraft-info#show_options"><%= image_tag "double-star-icon.png", width: "20", class: "inline" %> Double Star</span>
      </nav>
    </div>

    <div id="cluster_spacecraft_options">
      <div class="block mb-3">
        <label class="align-middle mr-3">
          <input type="radio" name="spacecraft" id="C1" value="1" class="align-middle border-red-900"> C1
        </label>

        <label class="align-middle mr-3">
          <input type="radio" name="spacecraft" id="C2" value="1" class="align-middle border-red-900"> C2
        </label>

        <label class="align-middle mr-3">
          <input type="radio" name="spacecraft" id="C3" value="1" class="align-middle border-red-900"> C3
        </label>

        <label class="align-middle mr-3">
          <input type="radio" name="spacecraft" id="C4" value="1" class="align-middle border-red-900"> C4
        </label>
      </div>

      <div id="cluster_spacecraft_list" class="block py-2">
        <label class="align-middle mr-3 block">
          <input type="checkbox" value="X" class="align-middle border-red-900"> X (GSE)
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="Y" class="align-middle border-red-900"> Y (GSE)
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="Z" class="align-middle border-red-900"> Z (GSE)
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="r" class="align-middle border-red-900"> distance to Earth (RE)
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="il" class="align-middle border-red-900"> Invariant latitude
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="mlt" class="align-middle border-red-900"> Magnetic local time
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="l" class="align-middle border-red-900"> L shell
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="sc_min" class="align-middle border-red-900"> min SC distance
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="sc_max" class="align-middle border-red-900"> max SC distance
        </label>
      </div>

      <div class="block py-2 my-1">
        <span class="spacecraft_action_minor" data-spacecraft-info-mission-param="cluster" data-spacecraft-info-action-param="select" data-action="click->spacecraft-info#action_on_all">Select all</span>
        <span class="spacecraft_action_minor" data-spacecraft-info-mission-param="cluster" data-spacecraft-info-action-param="deselect" data-action="click->spacecraft-info#action_on_all">Deselect all</span>
      </div>

      <div class="block py-4 my-2">
        <span class="spacecraft_action" title="Add spacecraft info to chart" data-spacecraft-info-mission-param="cluster" data-action="click->spacecraft-info#add_spacecraft_info"><i class='fa fa-plus'></i> Add</span>
        <span class="spacecraft_action_disabled" id="remove_cluster" title="Remove spacecraft info from chart" data-action="click->spacecraft-info#remove_spacecraft_info_plot"><i class='fa fa-minus'></i> Remove</span>
        <%= image_tag "loading.gif", id: "loading_cluster", alt: "Requesting spacecraft data", class: "w-[32px] hidden" %>
      </div>
    </div>

    <div id="double_star_spacecraft_options" class="hidden">
      <div class="block mb-3">
        <label class="align-middle mr-3">
          <input type="radio" name="spacecraft" id="D1" value="1" class="align-middle border-red-900"> D1
        </label>

        <label class="align-middle mr-3">
          <input type="radio" name="spacecraft" id="D2" value="1" class="align-middle border-red-900"> D2
        </label>
      </div>

      <div id="double_star_spacecraft_list" class="block py-2">
        <label class="align-middle mr-3 block">
          <input type="checkbox" value="r" class="align-middle border-red-900">
          distance to Earth (RE)
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="il" class="align-middle border-red-900">
          Invariant latitude
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="mlt" class="align-middle border-red-900">
          Magnetic local time
        </label>

        <label class="align-middle mr-3 block">
          <input type="checkbox" value="l" class="align-middle border-red-900">
          L value
        </label>
      </div>

      <div class="block py-2 my-1">
        <span class="spacecraft_action_minor" data-spacecraft-info-mission-param="double_star" data-spacecraft-info-action-param="select" data-action="click->spacecraft-info#action_on_all">Select all</span>
        <span class="spacecraft_action_minor" data-spacecraft-info-mission-param="double_star" data-spacecraft-info-action-param="deselect" data-action="click->spacecraft-info#action_on_all">Deselect all</span>
      </div>

      <div class="block py-4 my-2">
        <span class="spacecraft_action" title="Add spacecraft info to chart" data-spacecraft-info-mission-param="double_star" data-action="click->spacecraft-info#add_spacecraft_info"><i class='fa fa-plus'></i> Add</span>
        <span class="spacecraft_action_disabled" id="remove_double_star" title="Remove spacecraft info from chart" data-action="click->spacecraft-info#remove_spacecraft_info_plot"><i class='fa fa-minus'></i> Remove</span>
        <%= image_tag "loading.gif", id: "loading_double_star", alt: "Requesting spacecraft data", class: "w-[32px] hidden" %>
      </div>
    </div>

  </div>
</div>
