<turbo-frame id="plots">
  <%= render "plots/loading_plot_data" %>

   <div class="font-bold space-x-4 mt-6 text-red-900">
    <i class='fa-duotone fa-solid fa-chart-line'></i> PLOTS
  </div>

  <div id="plots_container" class="container mx-auto mt-3 px-4 py-2 max-w-7xl bg-white shadow-md">
    <div id="title-chart" style="height: 50px"></div>
    <div id="highcharts_plot"></div>
    <div id="axis-chart" xstyle="height: 50px"></div>
  </div>

  <script>
    var chart_json_data = '<%= @plot_info.to_json.html_safe %>';
    var chart_datetime_title = '<%= @start_date + "T" + @start_time + "/" + @stop_date + "T" + @stop_time %>';
  </script>
</turbo-frame>
