<div class="top-0 z-40 w-full backdrop-blur flex-none transition-colors border-b border-slate-900/10 duration-500 shadow-md bg-white">
  <div class="max-w-7xl mx-auto">
    <header class="py-4 mx-4">
        <a href="/"><%= image_tag "cluster-plots-logo.jpg", size: "100" %></a>
    </header>
  </div>
</div>
