/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --max-custom-width: 1500px;
}

@keyframes textappear {
  0% {
    color: #752929;
  }
  75% {
    color: #3e1414;
  }
  100% {
    color: inherit;
  }
}
@keyframes texthighlight {
  0% {
    color: #1447e6;
  }
  50% {
    color: #2b7fff;
  }
  100% {
    color: #90a1b9;
  }
}
.animation_text_in {
  animation: textappear 2s;
}
.animation_text_highlight {
  animation: texthighlight 1s;
}
.grid-timestamps {
  display: grid;
  column-gap: 1rem;
  grid-template-areas:
    "a1 b1"
    "a1 b2"
    "a1 b3";
  grid-template-columns: 8fr 2fr;
}
.grid-timestamps > div.a1 {
  grid-area: a1;
}
.grid-timestamps > div.b1 {
  grid-area: b1;
  vertical-align: text-top;
}
.grid-timestamps > div.b2 {
  grid-area: b2;
  vertical-align: text-top;
}
.grid-timestamps > div.b3 {
  grid-area: b3;
  vertical-align: text-top;
}
